# Chapter 8

# 8.1 Hierarchical Indexing

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.Series(np.random.randn(9),
                 index = [['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                          [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [6]:
data

a  1   -0.595653
   2    0.595697
   3   -0.426266
b  1    0.203666
   3   -1.323438
c  1    0.382542
   2    1.001105
d  2    1.276785
   3   -1.988160
dtype: float64

In [7]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [8]:
data['b']

1    0.203666
3   -1.323438
dtype: float64

In [9]:
data['b': 'c']

b  1    0.203666
   3   -1.323438
c  1    0.382542
   2    1.001105
dtype: float64

In [10]:
data.loc[['b', 'd']]

b  1    0.203666
   3   -1.323438
d  2    1.276785
   3   -1.988160
dtype: float64

In [11]:
data.loc[:, 2]

a    0.595697
c    1.001105
d    1.276785
dtype: float64

In [12]:
data.unstack()

          1         2         3
a -0.595653  0.595697 -0.426266
b  0.203666       NaN -1.323438
c  0.382542  1.001105       NaN
d       NaN  1.276785 -1.988160